QDRANT_URL=your-qdrant-URL
QDRANT_API_KEY=Your-qdrant-api-key
OPENROUTER_API_KEY=Your-Openrouter-key
DATABASE_URL=your-database-url
BASE_URL=Openrouter-base-url
REDIS_URL=Redis-URL
SECRET_KEY=django-insecure-replace-me-with-actual-secret-key
DEBUG=True
EMAIL_HOST_USER="Email"
EMAIL_HOST_PASSWORD="Eamil App Password"
DEFAULT_FROM_EMAIL="Eamil"

FRONTEND_URL=http://localhost:3000