# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
/static/

.pytest_cache/
.coverage
htmlcov/

uploads/
qdrant_storage/

Readme1.md
org_invitation_flow.md


# Environment
.env



venv/
env/
.venv/

# IDEs / editors
.vscode/
.DS_Store

# Logs
*.log
